In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

## Load Data

In [59]:
df = pd.read_csv("EasyVisa.csv")
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [60]:
df.shape

(25480, 12)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [62]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
case_id,25480,25480,EZYV01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
continent,25480,6,Asia,16861,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education_of_employee,25480,4,Bachelor's,10234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_job_experience,25480,2,Y,14802,NaN,NaN,NaN,NaN,NaN,NaN,NaN
requires_job_training,25480,2,N,22525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_of_employees,25480.0,NaN,NaN,NaN,5667.04321,22877.928848,-26.0,1022.0,2109.0,3504.0,602069.0
yr_of_estab,25480.0,NaN,NaN,NaN,1979.409929,42.366929,1800.0,1976.0,1997.0,2005.0,2016.0
region_of_employment,25480,5,Northeast,7195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
prevailing_wage,25480.0,NaN,NaN,NaN,74455.814592,52815.942327,2.1367,34015.48,70308.21,107735.5125,319210.27
unit_of_wage,25480,4,Year,22962,NaN,NaN,NaN,NaN,NaN,NaN,NaN
full_time_position,25480,2,Y,22773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
case_status,25480,2,Certified,17018,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Observations:
<li>continent: There are 25,480 non-null values, 6 unique continents, with "Asia" being the most frequent one, appearing 16,861 times.
<li>no_of_employees: The average number of employees is around 5,667, but the standard deviation is quite high (22,877), indicating a large spread. The minimum value is -26 (potentially an error or missing value), while the maximum is 602,069.
<li>prevailing_wage: The average wage is 74,455, with a large range from 2 to over 319,000, suggesting significant wage variation.
<li>The large standard deviations in numerical columns indicate the presence of outliers or a wide range of values

In [69]:
df.loc[df['no_of_employees'] < 0]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
245,EZYV246,Europe,Master's,N,N,-14.0,1980,Northeast,39452.9900,Year,Y,Certified
378,EZYV379,Asia,Bachelor's,N,Y,-14.0,2011,Northeast,32506.1400,Year,Y,Denied
832,EZYV833,South America,Master's,Y,N,-14.0,2002,South,129701.9400,Year,Y,Certified
2918,EZYV2919,Asia,Master's,Y,N,-14.0,2005,Midwest,112799.4600,Year,Y,Certified
6439,EZYV6440,Asia,Bachelor's,N,N,-14.0,2013,South,103.9700,Hour,Y,Denied
6634,EZYV6635,Asia,Bachelor's,Y,N,-14.0,1923,West,5247.3200,Year,Y,Denied
7224,EZYV7225,Europe,Doctorate,N,N,-14.0,1998,Midwest,141435.9500,Year,Y,Certified
7281,EZYV7282,Asia,High School,N,N,-14.0,2000,Midwest,58488.5000,Year,Y,Denied
7318,EZYV7319,Asia,Bachelor's,Y,Y,-14.0,2006,South,115005.6100,Year,Y,Certified
7761,EZYV7762,Asia,Master's,N,N,-14.0,2009,Midwest,38457.5100,Year,Y,Certified
9872,EZYV9873,Europe,Master's,Y,N,-14.0,1996,South,37397.0500,Year,Y,Certified
11493,EZYV11494,Asia,High School,Y,N,-14.0,1999,South,27599.3500,Year,Y,Denied
13471,EZYV13472,North America,Master's,N,N,-14.0,2003,Northeast,257.2413,Hour,Y,Denied
14022,EZYV14023,Asia,Bachelor's,N,Y,-14.0,1946,Northeast,108403.5600,Year,Y,Certified
14146,EZYV14147,Asia,Bachelor's,N,Y,-14.0,1954,West,81982.2700,Year,Y,Certified
14726,EZYV14727,Asia,Master's,N,N,-14.0,2000,Midwest,167851.8000,Year,Y,Certified
15600,EZYV15601,Asia,Bachelor's,N,N,-14.0,2014,South,24641.6100,Year,Y,Denied
15859,EZYV15860,Asia,High School,N,N,-14.0,1969,South,44640.6000,Year,Y,Denied
16157,EZYV16158,Asia,Master's,Y,N,-14.0,1994,South,62681.2500,Year,Y,Certified
16883,EZYV16884,North America,Bachelor's,Y,N,-14.0,1968,Northeast,168.1558,Hour,Y,Denied
17006,EZYV17007,Asia,Doctorate,Y,N,-14.0,1984,West,25753.5100,Year,Y,Denied
17655,EZYV17656,North America,Bachelor's,Y,N,-14.0,2007,Northeast,129753.1800,Year,Y,Denied
17844,EZYV17845,Asia,Bachelor's,N,N,-14.0,2012,West,29325.8500,Year,Y,Denied
17983,EZYV17984,Asia,Bachelor's,N,N,-14.0,2004,South,84359.9800,Year,Y,Denied
20815,EZYV20816,Asia,Bachelor's,N,Y,-14.0,1990,West,91897.5700,Year,Y,Certified
20984,EZYV20985,Europe,Doctorate,Y,N,-14.0,1989,Midwest,37012.8000,Year,Y,Certified
21255,EZYV21256,North America,High School,N,N,-14.0,1987,South,99405.4700,Year,N,Denied
21760,EZYV21761,Asia,Bachelor's,Y,N,-14.0,2000,West,100463.5800,Year,Y,Certified
21944,EZYV21945,Africa,Master's,Y,N,-14.0,1977,Midwest,79150.5100,Year,Y,Certified
22084,EZYV22085,North America,Bachelor's,Y,N,-14.0,1980,West,691.0609,Hour,Y,Denied
22388,EZYV22389,Asia,Master's,Y,N,-14.0,1986,South,17893.1100,Year,Y,Certified
23186,EZYV23187,Asia,Master's,N,Y,-14.0,2007,Midwest,120195.3500,Year,Y,Certified
23476,EZYV23477,Europe,Master's,Y,N,-14.0,2000,West,95072.7500,Year,Y,Denied

In [70]:
df.shape

(25480, 12)

In [68]:
# Calculate the median of non-zero, positive no_of_employees values
median_value = df[df['no_of_employees'] > 0]['no_of_employees'].median()
df['no_of_employees'] = df['no_of_employees'].apply(lambda x: median_value if x < 0 else x)